.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardbox{
    width:300px;
    height: 450px;
    justify-content: center;
    border: solid;
    margin: 15px;
    transition: box-shadow .34s;
}
.cardbox2{
    height: 185px;
    text-align: center;
    font-size: 15px;

}
.cardbox:hover{
    /* background-color: rgb(234, 229, 229); */
    border: solid red;
    cursor: pointer;
    /* color: azure; */
}
.headingg{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: brown;
}

.cardbox3{
    display: flex;
    justify-content: center;
}
.Adding:hover{
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
    /* width: 80px; */
    background-color: black;
    color: whitesmoke;
}
.searchbox{
    display: flex;
    justify-content: end;
    margin: 30px;
}
.bookimage{
    height: 220px;
    display: flex;
    
}